#navbarCollapse {
    background-color: #262939;
}

#navMain {
    width: 100%;
}

#navbarUl > li > a {
    color: #ebf5f9;
}


#navbarUl > li > a:hover {
    color: #000000;
}


#navbarUl {
    background-color: #262939;
}